nodered/flows-v1.0.json
[
    {
        "id": "74495d5772959a6b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7faac14f3e1f265a",
        "type": "s7 in",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "mode": "single",
        "variable": "pressure",
        "diff": false,
        "name": "",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "74f06f8c26f437f7"
            ]
        ]
    },
    {
        "id": "57866eefb0835de8",
        "type": "debug",
        "z": "74495d5772959a6b",
        "name": "Pressure Value: ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "956592325cd27448",
        "type": "s7 in",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "mode": "single",
        "variable": "motorRun",
        "diff": false,
        "name": "",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "74545878deeb368a",
                "b6df439303a8610e"
            ]
        ]
    },
    {
        "id": "74545878deeb368a",
        "type": "debug",
        "z": "74495d5772959a6b",
        "name": "Motor Run Status: ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b6eb7e238f35b4b",
        "type": "s7 in",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "mode": "single",
        "variable": "temperature",
        "diff": false,
        "name": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "4c8d98fce16bac5f"
            ]
        ]
    },
    {
        "id": "6953285b41498b3f",
        "type": "debug",
        "z": "74495d5772959a6b",
        "name": "Temperature Value: ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8b67e36b1831c05",
        "type": "s7 in",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "mode": "single",
        "variable": "speedRPM",
        "diff": false,
        "name": "",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "4e6dd749b05307b1",
                "8f746dfade556ec1"
            ]
        ]
    },
    {
        "id": "4e6dd749b05307b1",
        "type": "debug",
        "z": "74495d5772959a6b",
        "name": "Speed RPM Value: ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "0321737b4366523a",
        "type": "s7 in",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "mode": "single",
        "variable": "alarmActive",
        "diff": false,
        "name": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "354612779fd0d276",
                "53c29cf8c63b5171"
            ]
        ]
    },
    {
        "id": "354612779fd0d276",
        "type": "debug",
        "z": "74495d5772959a6b",
        "name": "Alarm Active: ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "2eb4f2d1a0e48a50",
        "type": "s7 out",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "variable": "motorRun",
        "name": "",
        "x": 260,
        "y": 440,
        "wires": []
    },
    {
        "id": "8fcdf5c283203def",
        "type": "s7 out",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "variable": "alarmActive",
        "name": "",
        "x": 270,
        "y": 520,
        "wires": []
    },
    {
        "id": "2d35a0b8d242ca1f",
        "type": "inject",
        "z": "74495d5772959a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "2eb4f2d1a0e48a50"
            ]
        ]
    },
    {
        "id": "e7808cc7a224aaad",
        "type": "inject",
        "z": "74495d5772959a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "8fcdf5c283203def"
            ]
        ]
    },
    {
        "id": "1554829527e9c63d",
        "type": "inject",
        "z": "74495d5772959a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "2eb4f2d1a0e48a50"
            ]
        ]
    },
    {
        "id": "043926ae2b447d6f",
        "type": "inject",
        "z": "74495d5772959a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "8fcdf5c283203def"
            ]
        ]
    },
    {
        "id": "74f06f8c26f437f7",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "ClearingPressureData",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "c33c0fccd998c7f6"
            ]
        ]
    },
    {
        "id": "4c8d98fce16bac5f",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "ClearingTemperatureData",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "6953285b41498b3f",
                "7aaeda68821b4b90"
            ]
        ]
    },
    {
        "id": "e32f6929f306a0bf",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "Build latest snapshot",
        "func": "let data = flow.get(\"latestData\") || {};\n\nif (msg.topic === \"pressure\") data.pressure = msg.payload;\nif (msg.topic === \"motorRun\") data.motorRun = msg.payload;\nif (msg.topic === \"temperature\") data.temperature = msg.payload;\nif (msg.topic === \"speedRPM\") data.speedRPM = msg.payload;\nif (msg.topic === \"alarmActive\") data.alarmActive = msg.payload;\n\ndata.ts = new Date().toISOString();\n\nflow.set(\"latestData\", data);\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 40,
        "wires": [
            [
                "57866eefb0835de8",
                "32f522ab016c1ba5"
            ]
        ]
    },
    {
        "id": "c33c0fccd998c7f6",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "set pressure topic",
        "func": "msg.topic = \"pressure\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 40,
        "wires": [
            [
                "e32f6929f306a0bf"
            ]
        ]
    },
    {
        "id": "b6df439303a8610e",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "set motor topic",
        "func": "msg.topic = \"motorRun\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "e32f6929f306a0bf"
            ]
        ]
    },
    {
        "id": "7aaeda68821b4b90",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "set temperature topic",
        "func": "msg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "e32f6929f306a0bf"
            ]
        ]
    },
    {
        "id": "8f746dfade556ec1",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "set speedRPM topic",
        "func": "msg.topic = \"speedRPM\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "e32f6929f306a0bf"
            ]
        ]
    },
    {
        "id": "53c29cf8c63b5171",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "set alarmActive topic",
        "func": "msg.topic = \"alarmActive\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "e32f6929f306a0bf"
            ]
        ]
    },
    {
        "id": "3a5e17a3fb65345a",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "Get History",
        "func": "let limit = 50;\n\nif (msg.req && msg.req.query && msg.req.query.limit) {\n    limit = parseInt(msg.req.query.limit, 10) || 50;\n}\n\nmsg.topic = `\nSELECT ts, pressure, motorRun, temperature, speedRPM, alarmActive\nFROM plc_history\nORDER BY id DESC\nLIMIT ${limit};\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 680,
        "wires": [
            [
                "bad02ea9a85d3ae0"
            ]
        ]
    },
    {
        "id": "55e6ad7eed468f96",
        "type": "http in",
        "z": "74495d5772959a6b",
        "name": "",
        "url": "/api/latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "12320e6e0c9ec1ee"
            ]
        ]
    },
    {
        "id": "02f564aa15098ff7",
        "type": "http response",
        "z": "74495d5772959a6b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e81c96bb3e891cb",
        "type": "http in",
        "z": "74495d5772959a6b",
        "name": "",
        "url": "/app",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "fc99e556d4801a0e"
            ]
        ]
    },
    {
        "id": "202c5e3847b203da",
        "type": "http response",
        "z": "74495d5772959a6b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc99e556d4801a0e",
        "type": "template",
        "z": "74495d5772959a6b",
        "name": "PLC Web App",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>PLC Live Data</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background: #f4f6f8;\n      padding: 20px;\n    }\n    .container {\n      max-width: 800px;\n      margin: auto;\n    }\n    h1 {\n      margin-bottom: 20px;\n    }\n    .card {\n      background: white;\n      padding: 15px;\n      margin-bottom: 12px;\n      border-radius: 10px;\n      box-shadow: 0 2px 6px rgba(0,0,0,0.08);\n    }\n    .label {\n      color: #666;\n      font-size: 14px;\n    }\n    .value {\n      font-size: 28px;\n      font-weight: bold;\n      margin-top: 5px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>PLC Live Data</h1>\n\n    <div class=\"card\">\n      <div class=\"label\">Pressure</div>\n      <div class=\"value\" id=\"pressure\">--</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Motor Run</div>\n      <div class=\"value\" id=\"motorRun\">--</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Temperature</div>\n      <div class=\"value\" id=\"temperature\">--</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Speed RPM</div>\n      <div class=\"value\" id=\"speedRPM\">--</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Alarm Active</div>\n      <div class=\"value\" id=\"alarmActive\">--</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"label\">Timestamp</div>\n      <div class=\"value\" id=\"ts\">--</div>\n    </div>\n  </div>\n\n  <script>\n    async function loadData() {\n      try {\n        const res = await fetch('/api/latest');\n        const data = await res.json();\n\n        document.getElementById('pressure').textContent = data.pressure;\n        document.getElementById('motorRun').textContent = data.motorRun ? 'ON' : 'OFF';\n        document.getElementById('temperature').textContent = data.temperature;\n        document.getElementById('speedRPM').textContent = data.speedRPM;\n        document.getElementById('alarmActive').textContent = data.alarmActive ? 'ACTIVE' : 'NORMAL';\n        document.getElementById('ts').textContent = data.ts;\n      } catch (err) {\n        console.error(err);\n      }\n    }\n\n    loadData();\n    setInterval(loadData, 1000);\n  </script>\n</body>\n</html>",
        "output": "str",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "202c5e3847b203da"
            ]
        ]
    },
    {
        "id": "0386f28650161d9d",
        "type": "sqlite",
        "z": "74495d5772959a6b",
        "mydb": "13ed239583f6330c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "plc_data.db",
        "x": 450,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "68ee8b5c7dc982f7",
        "type": "inject",
        "z": "74495d5772959a6b",
        "name": "inject ct",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "8fd03c862af73551"
            ]
        ]
    },
    {
        "id": "32f522ab016c1ba5",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "Insert latest into DB",
        "func": "let d = msg.payload || {};\n\nmsg.topic = `\nINSERT INTO plc_history (ts, pressure, motorRun, temperature, speedRPM, alarmActive)\nVALUES (\n  '${d.ts || new Date().toISOString()}',\n  ${Number(d.pressure || 0)},\n  ${d.motorRun ? 1 : 0},\n  ${Number(d.temperature || 0)},\n  ${Number(d.speedRPM || 0)},\n  ${d.alarmActive ? 1 : 0}\n);\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "e65ca7dfc362f687"
            ]
        ]
    },
    {
        "id": "86d5c7cc4e2f7e38",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "Reverse History",
        "func": "msg.payload = (msg.payload || []).reverse();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 680,
        "wires": [
            [
                "7de2ca284a0af064"
            ]
        ]
    },
    {
        "id": "5b45809b616259a8",
        "type": "http in",
        "z": "74495d5772959a6b",
        "name": "",
        "url": "/api/control",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "ad1a88417076cbb6"
            ]
        ]
    },
    {
        "id": "ad1a88417076cbb6",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "parse control",
        "func": "let body = msg.payload || {};\n\nlet motorMsg = null;\nlet alarmMsg = null;\n\nif (body.motorRun !== undefined) {\n    motorMsg = { payload: !!body.motorRun };\n}\n\nif (body.alarmActive !== undefined) {\n    alarmMsg = { payload: !!body.alarmActive };\n}\n\nlet responseMsg = {\n    headers: { \"Content-Type\": \"application/json\" },\n    payload: { ok: true, message: \"Control command sent\" }\n};\n\nreturn [motorMsg, alarmMsg, responseMsg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "ae87565a4ac8403f",
                "dca27924372be8bc",
                "938d1eb31a75ee98"
            ]
        ]
    },
    {
        "id": "dca27924372be8bc",
        "type": "s7 out",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "variable": "motorRun",
        "name": "",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "ae87565a4ac8403f",
        "type": "s7 out",
        "z": "74495d5772959a6b",
        "endpoint": "abd56ab7647d1e53",
        "variable": "alarmActive",
        "name": "",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "12320e6e0c9ec1ee",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "latest data",
        "func": "let latest = flow.get(\"latestData\") || {};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = latest;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 420,
        "wires": [
            [
                "02f564aa15098ff7"
            ]
        ]
    },
    {
        "id": "b759af309dd88cb4",
        "type": "http in",
        "z": "74495d5772959a6b",
        "name": "",
        "url": "/api/history",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "3a5e17a3fb65345a"
            ]
        ]
    },
    {
        "id": "7de2ca284a0af064",
        "type": "http response",
        "z": "74495d5772959a6b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1170,
        "y": 680,
        "wires": []
    },
    {
        "id": "8fd03c862af73551",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "create table",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS plc_history (\nid INTEGER PRIMARY KEY AUTOINCREMENT,\nts TEXT,\npressure REAL,\nmotorRun INTEGER,\ntemperature REAL,\nspeedRPM REAL,\nalarmActive INTEGER\n);\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 740,
        "wires": [
            [
                "0386f28650161d9d"
            ]
        ]
    },
    {
        "id": "e65ca7dfc362f687",
        "type": "sqlite",
        "z": "74495d5772959a6b",
        "mydb": "13ed239583f6330c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "update db",
        "x": 1300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bad02ea9a85d3ae0",
        "type": "sqlite",
        "z": "74495d5772959a6b",
        "mydb": "13ed239583f6330c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "86d5c7cc4e2f7e38"
            ]
        ]
    },
    {
        "id": "938d1eb31a75ee98",
        "type": "function",
        "z": "74495d5772959a6b",
        "name": "control response",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    ok: true,\n    message: \"Control command sent\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "abd56ab7647d1e53",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "",
        "vartable": [
            {
                "addr": "DB1,REAL0",
                "name": "pressure"
            },
            {
                "addr": "DB1,X4.0",
                "name": "motorRun"
            },
            {
                "addr": "DB1,REAL6",
                "name": "temperature"
            },
            {
                "addr": "DB1,REAL10",
                "name": "speedRPM"
            },
            {
                "addr": "DB1,X14.0",
                "name": "alarmActive"
            }
        ]
    },
    {
        "id": "13ed239583f6330c",
        "type": "sqlitedb",
        "db": "plc_data.db",
        "mode": "RWC"
    },
    {
        "id": "7baa054b217afd8a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-s7": "3.1.1",
            "node-red-node-sqlite": "1.1.1"
        }
    }
]